src/secrets.json
.venv
src/static/admin
src/static/landingpage/pdf/902-notes.pdf
src/static/landingpage/pdf/901-notes.pdf
src/landingpage/migrations
src/landingpage/__init__.py
src/personalsite/__init__.py
/secrets.json
src/static/landingpage/imgs/Logo.png
src/static/landingpage/imgs/logo.png
.idea/workspace.xml
geckodriver.log
.idea/
desktop.ini
.vscode/settings.json
src/.vscode/settings.json
__pycache__
