{% extends "base.html"%}
{% load static %}
{% block title %} Home | Abdinasir Noor {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/index.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="home_section">
        <div class="home_svg_container">
          <svg class="home_svg computer_svg" xmlns="http://www.w3.org/2000/svg" width="30vw" height="11vh" 
          viewBox="-4 -4 889 559" preserveAspectRatio="xMaxYMax meet">
            <title>Computer</title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <g id="Computer">
                  <rect x="7" y="7" width="561.0704" height="435.6137" rx="16" ry="16" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 14px"/>
                  <rect x="13" y="368.5594" width="550" height="20.9095"/>
                  <ellipse cx="289.2777" cy="409.507" rx="13.9396" ry="14.8109"/>
                  <path d="M151.0855,486.1751h267.672a19.5,19.5,0,0,1,19.5,19.5v35.7284a7.5,7.5,0,0,1-7.5,7.5H139.0855a7.5,7.5,0,0,1-7.5-7.5V505.6751a19.5,19.5,0,0,1,19.5-19.5Z" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 12px"/>
                  <line x1="221.3219" y1="438.2575" x2="205.6398" y2="485.3038" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 12px"/>
                  <line x1="355.4909" y1="434.7726" x2="371.173" y2="481.8189" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 12px"/>
                  <rect x="620.3441" y="9.6137" width="252.6559" height="526.2213" rx="16" ry="16" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 14px"/>
                  <rect x="632.5412" y="47.9477" width="228.2616" height="24.3944"/>
                  <rect x="632.5412" y="89.7666" width="228.2616" height="24.3944"/>
                  <rect x="679.5875" y="368.5594" width="139.3964" height="27.8793" rx="7" ry="7"/>
                  <rect x="679.5875" y="410.3783" width="139.3964" height="27.8793" rx="7" ry="7"/>
                  <rect x="679.5875" y="452.1972" width="139.3964" height="27.8793" rx="7" ry="7"/>
                  <ellipse cx="747.5433" cy="243.9738" rx="31.3642" ry="30.493" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 14px"/>
                  <g id="LED_lights" data-name="LED lights">
                    <circle cx="658.6781" cy="35.7505" r="10.4547"/>
                    <circle cx="686.5573" cy="35.7505" r="10.4547"/>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <svg class="home_svg laptop_svg" xmlns="http://www.w3.org/2000/svg" width="27vw" height="11vh" 
          viewBox="-4 -12 834 574"preserveAspectRatio="xMaxYMax meet">
            <title>laptop</title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <g id="laptop">
                  <path d="M53.5406,4h717.67A10.8333,10.8333,0,0,1,782.044,14.8333V467.4858a0,0,0,0,1,0,0H42.7073a0,0,0,0,1,0,0V14.8333A10.8333,10.8333,0,0,1,53.5406,4Z" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 17px"/>
                  <rect x="77.7137" y="33.4054" width="672.1244" height="406.0751" rx="4.8333" ry="4.8333" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 5px"/>
                  <path d="M3.5,471.6865H818.4508a0,0,0,0,1,0,0v63.1468a9.6667,9.6667,0,0,1-9.6667,9.6667H13.1667A9.6667,9.6667,0,0,1,3.5,534.8333V471.6865a0,0,0,0,1,0,0Z" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 17px"/>
                  <path d="M364.7668,477.2876H462.785a0,0,0,0,1,0,0v18.2552a9.75,9.75,0,0,1-9.75,9.75H374.5168a9.75,9.75,0,0,1-9.75-9.75V477.2876A0,0,0,0,1,364.7668,477.2876Z" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 5px"/>
                  <rect x="363.3666" y="36.206" width="92.4171" height="16.8031"/>
                </g>
              </g>
            </g>
          </svg>
          <svg class="home_svg server_svg" xmlns="http://www.w3.org/2000/svg" width="20vw" height="11vh" 
          viewBox="0 0 547 549" preserveAspectRatio="xMaxYMax meet">
            <title>server</title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <g id="server">
                  <g id="rack">
                    <rect x="20" y="20" width="490" height="126" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 30px"></rect>
                    <g id="LED_lights" data-name="LED lights">
                      <rect x="71" y="72" width="30" height="30"></rect>
                      <rect x="131" y="72" width="30" height="30"></rect>
                      <rect x="191" y="72" width="30" height="30"></rect>
                    </g>
                    <rect x="311" y="72" width="150" height="30"></rect>
                    <rect x="463" y="162" width="32" height="32" transform="translate(299 653) rotate(-90)"></rect>
                    <rect x="41" y="162" width="32" height="30" transform="translate(-122 232) rotate(-90)"></rect>
                  </g>
                  <g id="rack-2" data-name="rack">
                    <rect x="20" y="203" width="490" height="126" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 30px"></rect>
                    <g id="LED_lights-2" data-name="LED lights">
                      <rect x="71.0345" y="252" width="29.9655" height="30"></rect>
                      <rect x="131" y="252" width="29" height="30"></rect>
                      <rect x="191" y="252" width="30" height="30"></rect>
                    </g>
                    <rect x="311" y="252" width="149" height="29"></rect>
                    <rect x="460" y="345" width="32" height="30" transform="translate(116 836) rotate(-90)"></rect>
                    <rect x="39" y="345" width="32" height="30" transform="translate(-305 415) rotate(-90)"></rect>
                  </g>
                  <g id="rack-3" data-name="rack">
                    <rect x="20" y="388" width="490" height="126" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 30px"></rect>
                    <g id="LED_lights-3" data-name="LED lights">
                      <rect x="71" y="432" width="30" height="30"></rect>
                      <rect x="131" y="432" width="30" height="30"></rect>
                      <rect x="191" y="432" width="30" height="30"></rect>
                    </g>
                    <rect x="311" y="434" width="149" height="29"></rect>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h2 class="headline">Technical Support Specialist</h2>
        <p class="tagline">I help people with technology so they can make the world better</p>
        <div class="buttonWrapper">
          <button class="contactButton" type="button">Contact</button>
        </div>
    </section>
    <section id="about">
      <div id="section_about">
        <div class="section_title_container">
          <h3 class="section_title">About</h3>
        </div>
        <h4 class="section_subheading section_about_subheading">I’ve been a tech enthusiast for the past seven years.</h4>
        <p>I’ve been in the tech industry for the past five years. I’ve successfully solved around 90% of problems within the first interaction.</p>
      </div>
      <div class="section_experince">
        <div class="section_title_container">
          <h3 class="section_title">Experince</h3>
        </div>
        <h4 class="section_subheading">I love problem solving.</h4>
        <p>From root cause analysis, implementation, to iteration, I enjoy experiencing the process while utilizing teamwork, critical thinking, and most importantly, communication.</p>
        <p>Through practice, I’ve come to relizing flexability is an invaluable trait in IT. </p>
        <p>From solving problems with brute force, creating automated scripts to end-user education, having a flixble mindset to appraching critical problems can make choosing the right toolset for the task at hand simple.</p>
      </div>
      <div id="section_skills">
        <div class="section_title_container">
          <h3 class="section_title">Skills</h3>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="section_skills_svg" width="15vw" height="6vh" 
         viewBox="0 0 1520 844.8">
          <title>chat_bubble</title>
          <g id="chat">
            <g id="outline">
              <polygon points="984.198 619.027 680.825 619.027 680.825 87.8 1464 87.8 1464 619.027 1183.738 619.027 983.034 777.744 984.198 619.027" style="fill: #fff"/>
              <path d="M1444,107.8V599.0268H1176.7854l-10.9066,8.625-162.54,128.5372.71-96.8688.2954-40.2934h-303.52V107.8H1444m40-40H660.8252V639.0268H964.05L962.7284,819.3,1190.69,639.0268H1484V67.8Z"/>
            </g>
            <g id="bubbles">
              <g>
                <circle cx="784.9229" cy="405.9787" r="36.4287"/>
                <path d="M784.9229,379.55a26.4286,26.4286,0,1,1-26.4286,26.4286A26.4585,26.4585,0,0,1,784.9229,379.55m0-20a46.4286,46.4286,0,1,0,46.4285,46.4286A46.4285,46.4285,0,0,0,784.9229,359.55Z"/>
              </g>
              <g>
                <path d="M1074.1885,444.7883a36.4287,36.4287,0,1,1,36.4277-36.4287A36.47,36.47,0,0,1,1074.1885,444.7883Z"/>
                <path d="M1074.188,381.931a26.4286,26.4286,0,1,1-26.4285,26.4285,26.4585,26.4585,0,0,1,26.4285-26.4285m0-20a46.4286,46.4286,0,1,0,46.4286,46.4285,46.4284,46.4284,0,0,0-46.4286-46.4285Z"/>
              </g>
              <g>
                <circle cx="1359.9023" cy="413.1214" r="36.4285"/>
                <path d="M1359.9023,386.6929a26.4286,26.4286,0,1,1-26.4285,26.4285,26.4585,26.4585,0,0,1,26.4285-26.4285m0-20a46.4286,46.4286,0,1,0,46.4286,46.4285,46.4284,46.4284,0,0,0-46.4286-46.4285Z"/>
              </g>
            </g>
          </g>
          <g id="lines">
            <rect x="92" y="164.8" width="351.5" height="34.0516" rx="14.6206" ry="14.6206" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
            <rect x="279" y="481.5759" width="166.5" height="29.2412" rx="14.6206" ry="14.6206" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
            <rect x="162" y="325.5931" width="277.5" height="29.2412" rx="14.6206" ry="14.6206" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
          </g>
        </svg>
        <h4 class="section_subheading">Responsive</h4>
        <p>Skilled in first call resolutions through troubleshooting methodologies, documentations and personal experiences.</p>
      </div>
    </section>
    <section id="contact">

    </section>
</main>
{% endblock %}