.home_section {
    margin-top: calc(5vh + 8em);
}

.headline {
    margin: 10% auto;
    padding: 0.25em;
    text-align: center;
    font-size: 1.4em;
}

p {
    margin: 5%;
    padding: 0.25em;
    font-size: 0.83em;
    line-height: 150%;
    letter-spacing: 0.04em;
}

.home_svg_container {
    margin: 5%;
    padding: 0.25em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.home_svg {
    margin: 0 10%;
}

.tagline {
    text-align: center;
    margin: 10% auto;
    width: 25ch;
    font-size: 0.95em;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

.contactButton {
    color: var(--background_color);
    background-color: var(--hightlight_color);
    padding: 3vw 8vw;
    border-radius: 30px;
    border: none;
    font-size: 1.0em;
    font-style: var(--default_font);
}

/* About section */

#about {
    margin-top: 35vw;
}

.section_title_container {
    position: relative;
    padding: 25% 0 10% 5%;
}

#section_about > .section_title_container:first-child {
    padding-top: 25vh;
}

.section_title {
    font-size: 12vw;
    top: 45%;
    color: var(--hightlight_color);
    opacity: 0.65;
    margin: 0;
    position: absolute;
    transform-origin: center;
    transform: skewX(350deg);
}

.section_subheading {
    margin: 4% 5%;
    padding: 0.25em;
    font-size: 1.1em;
    font-style: var(--default_font);
}

.section_skills_svg {
    margin: 10% 0 -2% 5%;
}