<header>
    <h1>Abdinasir Noor</h1>
    <button class="hamburger_button" type="button">
        <svg class="hamburger" height="16px" width="24px" preserveAspectRatio="xMaxYMax meet" 
            viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="top_bun " d="M0 1, L25 1"  stroke="#4E598C" stroke-width="2px" />
            <path class="meat " d="M5 8, L25 8" stroke="#4E598C" stroke-width="2px" />
            <path class="bottom_bun " d="M0 15, L25 15" stroke="#4E598C" stroke-width="2px" />
        </svg>                
    </button>
    <nav>
        <div class="link_container">
            <ul class="link_menu">
                <li class="link_button"><span class="button_design"><a href="/">Home</a></span></li>
                <li class="link_button"><span class="button_design"><a href="#about">About</a></span></li>
                <li class="link_button"><span class="button_design"><a href="#contact">Contact</a></span></li>
            </ul>    
        </div>
    </nav>   
</header>

