header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 6%;
    z-index: 2;

}
h1 {
    font-family: var(--header_font);
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: .07em;
}

nav {
    display: flex;
    height: 4vh;
    width: 9vw;
    flex-direction: column;
}

.hamburger_button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
    /* Need to center svg inside button */ 
}

.hamburger {
    width: 90%;
    height: 95%;
}

@keyframes top-bun-slide-down {
    100% {
            transform: rotate(43deg) translate(0px, -2px);
    }
}
 
@keyframes slide-right {
    100% {
            transform: translateX(100px);
    }
}
  
@keyframes bottom-bun-slide-up {
    100% {
            /* negative degree to rotate clockwise */
            transform: rotate(-41deg) translate(-10px, -2px);            
    }
}

.top_bun_slide_down {
    animation: top-bun-slide-down 1.35s cubic-bezier(0.85, -0.02, 0, 1.13) both;
}

.slide-right {
    animation: slide-right 1.35s cubic-bezier(0.85, -0.02, 0, 1.13) both;
}

.bottom_bun_slide_up {
    animation: bottom-bun-slide-up 1.35s cubic-bezier(0.85, -0.02, 0, 1.13) both;
}

.link_container {
    opacity: 0;
    list-style: none;
    align-self: center;
    transform: translateX(-40vw);
    text-align: center;
    padding: 0.5em 0em;
    height: 100vh;
    width: 100vw;
    background: white;
}

.animate_menu {
    animation: fade_menu 1.35s cubic-bezier(0.85, -0.02, 0, 1.13) both;
}

@keyframes fade_menu{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;            
    }
}
